.editor-block-inspector__card {

	.tribe-editor__icons__container {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 4px;

		svg {
			height: 28px;
			width: 28px;
		}
	}

	.tribe-editor__icons--tec {
		background-color: #199fd1;
	}
}


button[class^="editor-block-list-item-tribe-"],
 button[class*=" editor-block-list-item-tribe-"] {

	svg {
		color: #16a0d6;
	}
}
