.tribe-theme-divi {

	/* -------------------------------------------------------------------------
	 * Reset Theme Overrides - Divi
	 * ------------------------------------------------------------------------- */
}
