.tribe-theme-enfold {

	/* -------------------------------------------------------------------------
	 * Reset Theme Overrides - Enfold
	 * ------------------------------------------------------------------------- */

	#top& .tribe-common {

		input {
			margin: 0;
		}
	}
}
