.tribe-theme-enfold {

	/* Enfold is using the #top id in the <body> */
	#top& {
		.tribe-common {
			input,
			button,
			select,
			textarea {
				outline: 0;
				box-sizing: border-box;
				margin: 0;
				border-radius: 0;
			}
		}
	}
}