#top.tribe-theme-enfold .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Theme Overrides - Enfold
	 * ------------------------------------------------------------------------- */

	input {
		margin: 0;
	}
}
