#top.tribe-theme-enfold .tribe-common,
#top .main_color .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Enfold
	 * ------------------------------------------------------------------------- */

	button[disabled] {
		opacity: 1;
	}
}
