.tribe-theme-twentytwenty .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Twenty Twenty
	 * ------------------------------------------------------------------------- */
	background-color: var(--color-background);
	letter-spacing: normal;

	input,
	textarea {
		letter-spacing: normal;
	}

	* {
		word-break: normal;
	}
}
