.tribe-theme-twentytwenty .tribe-common {
	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Twenty Twenty
	 * ------------------------------------------------------------------------- */

	--tec-color-background-events: var(--tec-color-background);

	background-color: var(--tec-color-background-events);
	letter-spacing: normal;

	input,
	textarea {
		letter-spacing: normal;
	}

	* {
		word-break: normal;
	}
}
