node_modules

# Tests - local config files
codeception.yml
tests/*.suite.yml
.env.local

# Tests - local output files
tests/_output

# by default ignore all, need a vendor dep in the repo? use !vendor/acme
vendor/*
!vendor/attrchange
!vendor/clipboard
!vendor/composer
vendor/composer/composer/tests
vendor/composer/composer/doc
vendor/composer/composer/.github
vendor/composer/ca-bundle
vendor/composer/semver
vendor/composer/spdx-licenses
!vendor/datatables
!vendor/jquery-tribe-timepicker
!vendor/jquery
!vendor/lucatume/di52
!vendor/momentjs
!vendor/tribe-select2
!vendor/xrstf/composer-php52
