.DS_Store
.idea
node_modules

# Tests - local config files
codeception.yml
tests/*.suite.yml
phpunit.xml
.env.local
.env.testing

# Tests - local output files
tests/_output
tests/_support/_generated

# by default ignore all, need a vendor dep in the repo? use !vendor/acme
vendor/*
!vendor/jquery
!vendor/select2
!vendor/momentjs
!vendor/handlebars
!vendor/clipboard
!vendor/attrchange
!vendor/datatables
!vendor/jquery-tribe-timepicker
!vendor/tooltipster
!vendor/tribe-select2
!vendor/freemius
vendor/freemius/languages/*.po

# Resources Ignoring
src/resources/**/app
src/resources/css/**
src/resources/**/*.min.js

# tribe-common-styles
src/resources/postcss/utilities

# get from translate.wordpress.org as needed
lang/*.po
