node_modules
codeception.yml
tests/acceptance.suite.yml
tests/functional.suite.yml
tests/integration.suite.yml
tests/wpunit.suite.yml
tests/unit.suite.yml
tests/acceptance/_bootstrap.php
tests/functional/_bootstrap.php
tests/integration/_bootstrap.php
tests/unit/_bootstrap.php
tests/wpunit/_bootstrap.php

# by default ignore all, need a vendor dep in the repo? use !vendor/acme
vendor/*
!vendor/jquery
!vendor/clipboard
!vendor/lucatume/di52
!vendor/xrstf/composer-php52
!vendor/composer/autoload_real*
tests/_output/*
