[submodule "src/resources/postcss/utilities"]
	path = src/resources/postcss/utilities
	url = https://github.com/the-events-calendar/tribe-common-styles.git
[submodule "src/Pigeon"]
	path = src/Pigeon
	url = https://github.com/stellarwp/pigeon.git
