.tribe-editor__paragraph {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;

	&--medium {

		/* 16pt */
		font-size: 1rem;
	}

	&--small {

		/* 14pt */
		font-size: 0.875rem;
	}

	a {
		color: #11a0d2;

		&:hover {
			color: #007bb4;
			text-decoration: none;
		}
	}
}
