.tribe-common {
	/* -------------------------------------------------------------------------
	 * Button
	 * ------------------------------------------------------------------------- */

	button {
		background-color: var(--color-background);
		padding: 0;
	}
}
