.tribe-common {
	/* -------------------------------------------------------------------------
	 * Button
	 * ------------------------------------------------------------------------- */

	button {
		background-color: transparent;
		padding: 0;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Divi
	 * ------------------------------------------------------------------------- */

	.tribe-theme-divi & {

		button {
			border: 0;
		}
	}
}
