/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin - To Be Moved - ECP
 *
 * These styles pertain to Events Calendar Pro features.
 * These styles should be moved out of common and into Events Calendar Pro.
 *
 * ----------------------------------------------------------------------------- */

/* additional fields
============================================= */
#additional-field-table {
	margin-bottom: 20px;
}
