/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin - To Be Moved - ET
 *
 * These styles pertain to ticket-specific features.
 * These styles should be moved out of common and into Event Tickets.
 *
 * ----------------------------------------------------------------------------- */

.ticket_form {
	.select2-container {
		.select2-selection--single {
			.select2-selection__arrow {
				display: none;
			}
		}
	}
}

#tribe-ticketing {
	display: none;
}
