/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin - To Be Moved - FBAR
 *
 * These styles pertain to filter-specific features.
 * These styles should be moved out of common and into Events Filter Bar.
 *
 * ----------------------------------------------------------------------------- */

.tribe_events_active_filter_type_options {
	margin: 10px 0;
}

.tribe_events_active_filter_type_options label {
	margin: 7px 0;
}
