/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin - To Be Moved - TEC
 *
 * These styles pertain to event-specific features.
 * These styles should be moved out of common and into The Events Calendar.
 *
 * ----------------------------------------------------------------------------- */
.tribe-sticky-tooltip {
	color: #bbb;
}
