:root {
	/* -----------------------------------------------------------------------------
	 * Forms - Colors
	 * ----------------------------------------------------------------------------- */

	--form-color-background: var(--color-background);
	--form-color-border-default: var(--color-text-secondary);
	--form-color-border-active: var(--color-accent-primary);
	--form-color-border-secondary: var(--color-text-disabled);
	--form-color-accent-primary: var(--color-accent-primary);
}
