

/* license keys
============================================= */
.ajax-loading-license,
.valid-key,
.invalid-key {
	display: none;
	margin: 0 5px;
}

.ajax-loading-license {
	position: relative;
	top: 5px;
}

.key-validity {
	display: inline-block;
}

.optin-fail,
.invalid-key {
	color: red;
}

.optin-success,
.valid-key {
	color: green;
}

.valid-key.service-msg {
	color: #b72;
}