.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Component: SVGIcon
	 *
	 * Example:
	 * <?php $this->template('components/icons/[name]') ?>
	 *
	 * ----------------------------------------------------------------------------- */
	 
	.tribe-common-c-svgicon--featured {
		height: 10px;
		width: 8px;
	}
}