.components-tooltip {

	.components-popover__content {
		max-width: 600px;
		min-width: 350px;
		white-space: normal;
	}

	&:not(.is-mobile) {

		.components-popover__content {
			min-width: 350px;
		}
	}
}
