/* -----------------------------------------------------------------------------
 *
 * Tabs
 *
 * This file contains tab-specific styles/overrides.
 *
 * ----------------------------------------------------------------------------- */

.tribe_events_page_tec-events-settings {
	/* Integrations */
	.tec-settings__add-account-button {
		vertical-align: middle;
	}

	.tec-nav__tab {
		&.tec-nav__tab--community {
			display: none;

			@media (--viewport-large) {
				display: list-item;
			}
		}

		.tec-nav__tab--filter-view {
			display: none;

			@media (--viewport-large) {
				display: list-item;
			}
		}
	}
}
