/* -----------------------------------------------------------------------------
 *
 * Tabs
 *
 * This file contains tab-specific styles/overrides.
 *
 * ----------------------------------------------------------------------------- */

.tribe_events_page_tec-events-settings {
	/* Integrations */
	.tec-settings-form__add-account-button {
		vertical-align: middle;
	}
}
