.tribe-editor__heading {
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
}

.tribe-editor__heading--h1 {
	font-size: 2.375rem; /* 38pts */
}

.tribe-editor__heading--h2 {
	font-size: 1.3125rem; /* 21pts */
}

.tribe-editor__heading--h3 {
	font-size: 1rem; /* 16pts */
}
