{
  "root": true,
  "extends": "../../../node_modules/@the-events-calendar/product-taskmaster/config/eslint.es5.js",
  "globals": {
    "_": true,
    "ajaxurl": true,
    "Clipboard": true,
    "jQuery": true,
    "moment": true,
    "TEC": true,
    "tribe": true,
    "tribe_l10n_datatables": true,
    "tribe_system_info": true
  }
}
