.tribe-common {
	/* -------------------------------------------------------------------------
	 * Button
	 * ------------------------------------------------------------------------- */

	button {
		background-color: transparent;
		background-image: none;
		border: none;

		&:hover,
		&:focus {
			background-color: transparent;
			background-image: none;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		button {

			&:hover,
			&:focus {
				background-color: transparent;
				background-image: none;
			}
		}
	}

	.tribe-theme-twentytwenty & {

		button {
			background-color: transparent;
			background-image: none;
			text-transform: inherit;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty TwentyOne
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentytwentyone & {

		button:not(:hover):not(:active) {
			background-color: inherit;
			background-image: inherit;
			color: inherit;
		}
	}
}
