.tribe-common {
	/* -------------------------------------------------------------------------
	 * Button
	 * ------------------------------------------------------------------------- */

	button {
		background-color: transparent;
		border: none;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty TwentyOne
	 * ------------------------------------------------------------------------- */

	 .tribe-theme-twentytwentyone & {

		button:not(:hover):not(:active) {
			background-color: inherit;
			color: inherit;
		}
	}
}
