#ea-mocker {
  label {
    display       : block;
    clear         : both;
    width         : 100%;
    margin-bottom : .3em;
  }
  textarea {
    clear : both;
    width : 100%;
  }
  .default {
    display : none;
  }
  .inline {
    input[type="text"] {
      width :80%;
    }
    input[type="button"]{
      margin-left: .3em;
    }
  }
}
