/* = Shared CSS Elements
=============================================*/
.invalid input{border: 2px solid red !important;}
.valid input{border: 1px solid green;}
.clearfix {zoom:1; /* For IE */}
.placeholder { cursor: text; padding: 4px 4px 4px 4px; color: #999999; }
input:placeholder, textarea:placeholder { color: #999999; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999999; }
.bubble {border-color:#dfdfdf; border-width:1px; border-style:solid; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding: 10px; border-style:solid; border-spacing:0; background-color:#F9F9F9;}
.tribe-sticky-tooltip {
	color:#bbb;
}
td.tribe_message {padding-bottom: 10px !important;}

#tribe_thanks {float: left; width: 200px; margin: 5px 0 0 0;}
.tribe_brand {font-weight: normal; margin: 8px 0; font-family: Georgia !important; font-size: 17px !important;}

/* = Upgrade Screen
=============================================*/
#tribe-upgrade {margin:20px 0 30px; border:1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:0 20px 20px; background:#f6f6f6;}
#tribe-upgrade .message {border-style:solid; border-width:1px; padding:6px 12px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#FFFFE0; border-color:#E6DB55;}

/* = Settings Screen
=============================================*/
.tribe-settings-form { max-width: 1000px; }
.tribe-settings-form fieldset {padding: 10px 0; display: inline-block; clear: both;}
.tribe-settings-form legend {width: 220px; margin-right: 20px; float: left; font-weight: bold;}
.tribe-settings-form fieldset.tribe-field-license_key legend { width: auto; }
.tribe-settings-form .tribe-field-wrap {float: left; max-width: 500px;}
.tribe-settings-form .tribe-field-radio label, .tribe-settings-form .tribe-field-checkbox_list label {display: block; margin: 5px 0;}
.tribe-settings-form .tribe-field-radio label input, .tribe-settings-form .tribe-field-checkbox_list label input {margin-right: 5px;}
.tribe-settings-form .tribe-settings-form-wrap fieldset,
.tribe-settings-form .tribe-settings-form-wrap .description,
.tribe-settings-form fieldset[id^="tribe-field-geoloc_"] {padding-left: 12px;}
.tribe-settings-form .tribe-settings-form-wrap fieldset .description {padding-left: 0; margin-left:0; max-width: 450px;}
.tribe-settings-form .tribe-settings-form-wrap h3 {margin-bottom: 10px; background-color: #f9f9f9; padding: 6px 0 6px 12px;}
.tribe-settings-form .tribe-settings-form-wrap h3 ~ h3 {margin-top: 2.25em;}
.tribe-settings-form .tribe-settings-form-wrap h3 + p {margin: 0 0 10px; padding-left: 12px;}
.tribe_settings .tribe-field-indent {margin-left: 245px;}
.tribe_settings #pu_dashboard_message{ display: none;}
.tribe_settings .tribe-errors-list {margin-left: 15px;}
.tribe_settings .expiring-license {color: red;}
.tribe_settings .tribe-error {border: 1px solid #F00;}
.tribe_settings .tribe-field-description {position: relative; top: -12px; margin-bottom: 0;}
.tribe_settings #ical-link {top: -14px;}
.tribe-settings-form #tribe-field-stylesheetOption label { margin-left: 20px;}
.tribe-settings-form #tribe-field-stylesheetOption input { margin-left: -20px; margin-right: 8px;}
.tribe-settings-form #tribe-field-stylesheetOption p.description {color: #999;}
/* Modern Tribe box */
#modern-tribe-info {margin: 20px 0; background-color: #f9f9f9; padding: 8px 20px 12px; border: 1px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; -o-border-radius: 4px;}
#modern-tribe-info img {margin: 10px 0; width: 250px; height: 18px;}
#modern-tribe-info ul {margin-left: 20px; list-style: disc;}
#modern-tribe-info ul ul {list-style: circle;}

/* sizes */
.tribe-field-textarea.tribe-size-small textarea {width: 180px; height: 60px;}
.tribe-field-textarea.tribe-size-medium textarea {width: 300px; height: 80px;}
.tribe-field-textarea.tribe-size-large textarea {width: 450px; height: 120px;}

.tribe-field-text.tribe-size-small input, .tribe-field-license_key.tribe-size-small input {width: 50px;}
.tribe-field-text.tribe-size-medium input, .tribe-field-license_key.tribe-size-medium input {width: 225px}
.tribe-field-text.tribe-size-large input, .tribe-field-license_key.tribe-size-large input {width: 450px;}

.tribe-field-dropdown.tribe-size-small select {width: 100px;}
.tribe-field-dropdown.tribe-size-medium select {width: 300px;}
.tribe-field-dropdown.tribe-size-large select {width: 450px;}

.tribe-field-dropdown_chosen.tribe-size-small select {width: 100px;}
.tribe-field-dropdown_chosen.tribe-size-medium select {width: 200px;}
.tribe-field-dropdown_chosen.tribe-size-large select {width: 300px;}

/* license keys */
.ajax-loading-license, .valid-key, .invalid-key {display: none; margin: 0 5px;}
.ajax-loading-license {position: relative; top: 5px;}
.key-validity { display: inline-block }
.invalid-key { color: red }
.valid-key { color: green }
.valid-key.service-msg { color: #b72 }

/* additional fields */
#additional-field-table {margin-bottom: 20px;}

/* miscellaneous */
.tribe-admin-box-left {float:left; width: 20%; margin: 20px 0; background-color: #f9f9f9; padding: 0px 20px 15px; border: 1px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; -o-border-radius: 4px;}
.tribe-admin-box-right {float:right; width: 68%; margin: 20px 0; background-color: #f9f9f9; padding: 0px 20px 15px; border: 1px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; -o-border-radius: 4px;}
.ajax-loader {float:right; margin: 10px;}
.tribe-arrangeable-item { border: 1px solid lightGrey; -moz-border-radius: 6px; border-radius: 6px; }
.tribe-arrangeable-item .ui-state-default { border:none; }
.tribe-arrangeable-item-top { padding: 6px; }
.tribe-arrangeable-item-top:hover { cursor: move; }
.tribe-arrangeable-action { float:right; }
.tribe-arrangeable-child { display:none; padding: 25px; border-top: 1px solid lightGrey; background-color: #f9f9f9 }
.tribe-arrangeable-child label{margin:0 0 7px 0; display:block;}
.tribe_events_active_filter_type_options {
	margin: 10px 0;
}
.tribe_events_active_filter_type_options label {
	margin: 7px 0;
}
.tribe-settings-form .tribe-settings-form-wrap fieldset .tribe-style-selection{margin-bottom:18px;}
.OrganizerInfo td small, #event_organizer td small {
	display: block;
	max-width: 250px;
	margin: 0;
}
.OrganizerInfo .organizer-email, #event_organizer .organizer-email {
	vertical-align: top;
}

.tribe-table-field-label {
	width: 200px;
	max-width: 100%
}

/* = Help Screen
=============================================*/

#tribe-help-general,
#tribe-help-sidebar {
	margin-top: 20px;
	float: left;
}

#tribe-help-general p {
	margin-left: 15px;
}

#tribe-help-general ul {
	list-style-type: square;
	margin-left: 35px;
	margin-bottom: 20px;
}

#tribe-help-general ol {
	margin-left: 35px;
	margin-bottom: 20px;
}

#tribe-help-general h3 {
	margin-bottom: 10px;
	background-color: #f9f9f9;
	padding: 6px 0 6px 12px;
}

#tribe-help-general h3 ~ h3 {
	margin-top: 2.25em;
}

#tribe-help-general h3 + p {
	margin: 0 0 20px;
	padding-left: 12px;
}

#tribe-help-general {
	width: 65%;
}

.tribe-help-section {
	padding-bottom: 10px;
}

.tribe-section-type-box {
	background-color: #f9f9f9;
	padding: 8px 20px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-o-border-radius: 4px;
}

.tribe-section-type-box img {
	margin: 10px 0;
	max-width: 300px;
	height: auto;
}

.tribe-section-type-box ul {
	margin-left: 20px; list-style: disc;
}

.tribe-section-type-box ul ul {
	list-style: circle;
}

#tribe-system-info dl.support-stats {
	background: #000;
	color: #888;
	padding: 10px;
	overflow: scroll;
	max-height: 400px;
	border-radius: 2px;
}

#tribe-system-info dl.support-stats dt {
	text-transform: uppercase;
	font-weight: bold;
	width: 25%;
	clear: both;
	float: left;
}

#tribe-system-info dl.support-stats dd {
	padding-left: 10px;
	margin-left: 25%;
}




#tribe-help-sidebar {
	width: 32%;
	max-width: 225px;
	margin: 20px 0 0 3%;
}

.tribe-help-plugin-info {
	border: 1px solid #CCC;
	padding: 0 12px 12px;
}

.tribe-help-plugin-info dt,
.tribe-help-plugin-info dd {
	display: inline;
	margin: 0;
}

.tribe-help-plugin-info dt {
	font-weight: bold;
}

.tribe-help-plugin-info dd::after {
  content: '';
  display: block;
  height: .4em;
}

.tribe-help-plugin-info dd:last-child::after {
  height: 0;
}

.tribe-help-plugin-info + .tribe-help-plugin-info {
	margin-top: 20px;
}

.tribe-help-plugin-info > div {
	line-height: 2em;
}

.tribe-help-plugin-info .star-rating {
	display: inline-block;
	top: -2px;
	margin-left: 3px;
	position: relative;
}

.tribe-help-plugin-info .tribe-list-addons {
	list-style: circle inside;
	padding-left: 4px;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #21A6CB;
}

.tribe-help-plugin-info .tribe-list-addons a {
	font-size: 13px;
	position: relative;
	top: -5px;
	left: -5px;
}

.tribe-help-plugin-info .tribe-list-addons .tribe-active-addon {
	list-style: disc inside;
}




/* = jQuery UI
=============================================*/
.ui-widget-overlay {background: #666666; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow {margin: -5px 0 0 -5px; padding: 5px; background: #000000; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.ui-resizable {position: relative;}
.ui-resizable-handle {position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {display: none; }
.ui-resizable-n {cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s {cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e {cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w {cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se {cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw {cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw {cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne {cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-dialog {position: relative; padding: .2em; width: 375px; }
.ui-dialog .ui-dialog-titlebar {padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title {float: left; margin: .1em 0 .2em; }
.ui-dialog .ui-dialog-titlebar-close {position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span {display: block; margin-left: -8px; margin-top: -8px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {padding: 0; }
.ui-dialog .ui-dialog-content {border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane {text-align: right; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em !important; }
.ui-dialog .ui-dialog-buttonpane button {margin: .5em .4em .5em !important; cursor: pointer; padding: .2em .6em .3em; line-height: 1.4em; width:auto; overflow:visible; text-shadow:none; }
.ui-dialog .ui-resizable-se {width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar {cursor: move; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float: none !important; text-align: center;}
.ui-button-text-only .ui-button-text {padding: .4em 1em;}
.ui-button .ui-button-text {display: block; line-height: 1.4;}
.ui-datepicker{font-size:8pt;}
#ui-datepicker-div { display: none; }

#tribe-loading {
	display           : none;
	position          : absolute;
	width             : 100%;
	height            : 100%;
	left              : 0;
	top               : 0;
	background        : #fff;
	background        : rgba(255, 255, 255, 0.8);
	z-index           : 4;
	webkit-transition : all 1s linear;
	-moz-transition   : all 1s linear;
	-o-transition     : all 1s linear;
	-ms-transition    : all 1s linear;
	transition        : all 1s linear;
}

#tribe-loading span {
	position   : absolute;
	width      : 32px;
	height     : 32px;
	left       : 50%;
	top        : 50%;
	margin     : -16px 0 0 -16px;
	background : url(../images/tribe-loading.gif) 0 0 no-repeat;
	-webkit-background-size: 32px 32px;
			background-size: 32px 32px;
}

/* = Admin Retina Bits
=============================================*/
@media
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.events-cal #icon-edit {
		background-image: url(../images/events-screen-icon@2x.png);
	}
	#tribe-loading span {
		background-image: url(../images/tribe-loading@2x.gif);
	}
}

/* = TEC Welcome & Update Pages // Displays after installation & plugin update
===============================================================================*/

.tribe_welcome_page, .tribe_update_page {
	max-width:1000px;
}

.tribe-half-column {
	width:45%;
	float:left;
	margin-right:5%;
	margin-bottom:30px;
}

.tribe-row:before, .tribe-row:after {
	content: ""; display: table;
}

.tribe-row:after {
	clear: both;
}

.tribe-row {
	clear:both;
}

.tribe-row .tribe-half-column:last-child {
	margin-right:0;
	width:50%;
}

.tribe_welcome_page h2, .tribe_update_page h2 {
	font-size:30px;
	margin-bottom:20px;
}

.tribe_welcome_page h3, .tribe_update_page h3 {
	margin-top:0;
	font-size:24px;
	line-height:24px;
	font-weight:400;
}

.tribe_welcome_page h4, .tribe_update_page h4 {
	font-size:18px;
	font-weight:600;
	line-height:18px;
	margin:0;
}

.tribe_welcome_page p, .tribe_update_page p {
	font-size:14px;
}

p.tribe-welcome-message {
	font-size:20px;
	font-weight:400;
}

.tribe_welcome_page h2:before, .tribe_update_page h2:before {
	content:"\f145";
	font-family:"dashicons";
	line-height:1;
	margin-right:5px;
	font-size:34px;
	position:relative;
	top:5px;
}

.tribe-welcome-video-wrapper {
	margin-bottom:40px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.tribe-welcome-video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a.tribe-rating-link {
	text-decoration:none;
}

.tribe-welcome-links, .tribe-update-links {
	margin-top:30px;
}

.tribe_welcome_page li:before, .tribe_update_page li:before {
	content:'\2022';
	padding-right:3px;
}

.tribe_update_page .rss-widget {
	margin:1em 0;
}

.tribe_update_page a.rsswidget {
	font-size:14px;
	font-weight:400;
	line-height:1;
}

.tribe_update_page .rss-widget li:before {
	display:none;
}

/* Media Queries for Mobile Dashboard */
@media screen and (max-width: 782px) {
	.tribe-half-column, .tribe-row .tribe-half-column:last-child {
		width:100%;
		margin:0 0 20px 0;
	}

	input[type='email'] {
		width:100%;
	}
}


@media screen and ( max-width: 782px ) {
	.events-cal .subsubsub {
		float: none;
	}

	.events-cal .search-box {
		width: 98%;
	}

	.events-cal #search-submit {
		width: 100%;
	}

	.events-cal .tablenav.top {
		display: none;
	}
}

.tribe-update-bar {
	display: inline-block;
}

.tribe-update-bar .progress {
	border: 1px solid #ccc;
	float: left;
	margin-right: 1rem;
	padding: 1px;
	width: 18rem;
}

.tribe-update-bar .progress .bar {
	background: #ffba00;
	height: 1rem;
	width: 1%;
}

.tribe-update-bar .progress .bar {
	background: #7ad03a;
}

/* bumpdown */
.bumpdown {
	background: #f1f1f1;
	margin: 1rem 0;
	padding: 1rem 1.5rem 1rem 1rem;
	position: relative;
}

#poststuff .bumpdown h1,
#poststuff .bumpdown h2,
#poststuff .bumpdown h3,
#poststuff .bumpdown h4,
.bumpdown h1,
.bumpdown h2,
.bumpdown h3,
.bumpdown h4 {
	padding-left: 0;
	padding-top: 0;
}

.bumpdown-arrow {
	display: none;
}

.bumpdown-close {
	color: #686868;
	cursor: pointer;
	position: absolute;
	right: .5rem;
	top: .5rem;
	z-index: 2;
}

.bumpdown-trigger .target {
	color: #0074a2;
}

/* Useful to ensure modals rise above the grey 'miasma' */
.ui-front {
    z-index: 1000000;
}