.tribe-editor__placeholder {
	border: 2px dashed #e1e3e6;
	color: #8d949b;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	min-width: 260px;
	padding: 12px 15px 14px;
	text-align: center;
}
