.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Button: Border
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-border">...</button>
	 * <a href="#" class="tribe-common-c-btn-border">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-border,
	a.tribe-common-c-btn-border {
		@mixin button-border;

		color: var(--tec-color-accent-primary);
		padding: 11px 20px 11px;
		width: 100%;

		.tribe-common--breakpoint-medium& {
			width: auto;
		}

		&:focus,
		&:hover {
			color: var(--tec-color-background);
			background-color: var(--tec-color-accent-primary);
		}

		&:active {
			opacity: 0.9;
		}
	}

	/* -----------------------------------------------------------------------------
	 *
	 * Button: Border Secondary
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-border tribe-common-c-btn-border--secondary">...</button>
	 * <a href="#" class="tribe-common-c-btn-border tribe-common-c-btn-border--secondary">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-border--secondary,
	a.tribe-common-c-btn-border--secondary {
		border-color: var(--tec-color-accent-secondary);
		color: var(--tec-color-accent-secondary);

		&:focus,
		&:hover {
			background-color: var(--tec-color-accent-secondary);
		}

		&:active {
			opacity: 0.9;
		}
	}

	/* -----------------------------------------------------------------------------
	 *
	 * Button: Border Alt
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-border tribe-common-c-btn-border--alt">...</button>
	 * <a href="#" class="tribe-common-c-btn-border tribe-common-c-btn-border--alt">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-border--alt,
	a.tribe-common-c-btn-border--alt {
		border-color: var(--tec-color-border-secondary);
		color: var(--tec-color-text-primary);
		font-weight: var(--tec-font-weight-regular);

		&:focus,
		&:hover {
			border-color: var(--tec-color-border-active);
			background-color: var(--tec-color-background);
			color: var(--tec-color-text-primary);
		}

		&:active {
			opacity: 0.9;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Border - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-common-c-btn-border {

			&:hover,
			&:focus {
				background-color: var(--tec-color-accent-primary);
			}
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Border Secondary - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-common-c-btn-border--secondary {

			&:hover,
			&:focus {
				background-color: var(--tec-color-accent-secondary);
			}
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Border Alt - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-common-c-btn-border--alt {

			&:hover,
			&:focus {
				background-color: var(--tec-color-background);
			}
		}
	}
}
