.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Button: Clear
	 *
	 * Example:
	 * <button class="tribe-common-c-btn__clear">...</button>
	 * <a href="#" class="tribe-common-c-btn__clear">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn__clear {
		@mixin button-global;
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Clear - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */
}
