.tribe-events {
	/* -----------------------------------------------------------------------------
	 *
	 * Form Control: Groups (Checkbox & Radio)
	 *
	 * Example:
	 * <div class="tribe-common-form-control-checkbox-radio-group">
	 *   <div class="tribe-common-form-control-checkbox">
	 *     <input id="checkboxOne" name="checkboxGroup" type="checkbox" value="checkboxOne" checked="checked" />
	 *     <label for="checkboxOne">Checkbox One</label>
	 *   </div>
	 *   <div class="tribe-common-form-control-checkbox">
	 *     <input id="checkboxTwo" name="checkboxGroup" type="checkbox" value="checkboxTwo" />
	 *     <label for="checkboxTwo">Checkbox two</label>
	 *   </div>
	 * </div>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-form-control-checkbox-radio-group {

		> * {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	/* -----------------------------------------------------------------------------
	 *
	 * Form Control: Groups (Text)
	 *
	 * Example:
	 * <div class="tribe-common-form-control-text-group">
	 *   <div class="tribe-common-form-control-text">
	 *     <label for="inputOne">Input One</label>
	 *     <input id="inputOne" name="inputOne" type="text" placeholder="Input One" />
	 *   </div>
	 *   <div class="tribe-common-form-control-text">
	 *     <label for="inputTwo">Input Two</label>
	 *     <input id="inputTwo" name="inputTwo" type="text" placeholder="Input Two" />
	 *   </div>
	 * </div>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-form-control-text-group {

		> * {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
