<ul>
	<li>
		<input type="radio" name="radio-name" />
		<label>Label</label>
	</li>
	<li class="form-control-radio">
		<input type="radio" name="radio-name" />
		<label>Label</label>
	</li>
</ul>

.form-control-checkbox,
.form-control-radio {

}
