/*
 * Plugin install CSS
 */
.plugin-card-the-events-calendar,
.plugin-card-events-calendar-pro,
.plugin-card-event-tickets,
.plugin-card-event-tickets-plus,
.plugin-card-events-community,
.plugin-card-events-community-tickets,
.plugin-card-tribe-eventbrite,
.plugin-card-tribe-filterbar,
.plugin-card-image-widget,
.plugin-card-image-widget-plus {

	.column-rating,
	.column-updated,
	.column-downloaded {
		display: none;
	}
}