/* increased specificity required to override gutenberg editor styles */
input[type="checkbox"].tribe-editor__input--checkbox {
	background-color: #fff;
	border: 1px solid #e0e5e9;
	border-radius: 0;

	&:focus {
		border: 1px solid #e0e5e9;
		box-shadow: 0 0 0 1px #e0e5e9;
	}

	&:checked {
		background-color: #fff;
		border: 1px solid #e0e5e9;

		&:focus {
			border: 1px solid #e0e5e9;
			box-shadow: 0 0 0 1px #e0e5e9;
		}

		&::before {
			color: #11a0d2;
		}
	}
}
