.tribe-common {

	/* -----------------------------------------------------------------------------
	 *
	 * Button: Border
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-border-small">...</button>
	 * <a href="#" class="tribe-common-c-btn-border-small">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-border-small,
	a.tribe-common-c-btn-border-small {
		padding: 14px 20px 14px;
		width: 100%;

		.tribe-common--breakpoint-medium& {
			padding: 6px 15px;
			width: auto;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Border Small - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */
}
