.tribe-common {

	/* -----------------------------------------------------------------------------
	 *
	 * Button: Border
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-border">...</button>
	 * <a href="#" class="tribe-common-c-btn-border">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-border,
	a.tribe-common-c-btn-border {
		padding: 11px 20px 11px;
		width: 100%;

		.tribe-common--breakpoint-medium& {
			width: auto;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Border - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */
}
