/* -----------------------------------------------------------------------------

 *
 * Tribe Common Admin - Post Editor Styling
 *
 * ----------------------------------------------------------------------------- */
