/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin - Upgrade Screen
 *
 * ----------------------------------------------------------------------------- */

#tribe-upgrade {
	background: #f6f6f6;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 20px 0 30px;
	padding: 0 20px 20px;
}

#tribe-upgrade .message {
	background-color: #ffffe0;
	border-color: #e6db55;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	padding: 6px 12px;
}
