/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin - Widget Admin Screen
 *
 * ----------------------------------------------------------------------------- */

.tribe-events-widget-admin-form__input-section p {
	margin: 0;
}

.tribe-events-widget-admin-form__input-section h4 {
	margin: 0.5em 0;
}