.tribe-common {
	/* -------------------------------------------------------------------------
	 * SVG Icons
	 * ------------------------------------------------------------------------- */

	.tribe-common-svgicon {
		background-repeat: no-repeat;
		background-size: contain;
	}
}
