.tribe-common {
	/* -------------------------------------------------------------------------
	 * SVG Icons
	 * ------------------------------------------------------------------------- */

	.tribe-common-svgicon {
		background-repeat: no-repeat;
		background-size: contain;
	}

	.tribe-common-svgicon--filters {
		background-image: svg-inline(filters);
	}

	.tribe-common-svgicon--filters {
		background-image: svg-inline(filters);
	}
}
