/* increased specificity required to override gutenberg editor styles */
input.tribe-editor__input {

	/* this list will grow with more input types used */
	&[type="number"],
	&[type="text"] {
		border: 1px solid #e1e3e6;
		color: #000;
		font-size: 16px;
		height: 40px;
		line-height: 24px;
		margin: 0;
		padding: 7px 15px;

		&:focus {
			box-shadow: none;
			color: #000;
			outline: auto;
		}

		&:disabled {
			color: #aeb4bb;
		}
	}
}
