.tribe-editor__counter {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.tribe-editor__counter__count {
	color: #aeb4bb;
	flex: none;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 10px;
}

.tribe-editor__counter__label {
	color: #aeb4bb;
	flex: none;
	font-size: 12px;
	letter-spacing: 0.04px;
	line-height: 14px;
}
