/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin
 *
 * This file is just a clearing-house.
 * Make partials (start with an underscore) for any actual css code.
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 *
 * New "Baseline" Admin CSS
 *
 * ----------------------------------------------------------------------------- */

@import "_props.pcss";
@import "tec_baseline_admin/_all.pcss";

/* -----------------------------------------------------------------------------
 *
 * Legacy Admin CSS
 *
 * ----------------------------------------------------------------------------- */

@import "_main.pcss";
@import "_upsell.pcss";
@import "_fields.pcss";
@import "notices/_all.pcss";

/* -----------------------------------------------------------------------------
 *
 * Event Automator CSS
 *
 * ----------------------------------------------------------------------------- */

@import "_grid.pcss";
@import "_loader.pcss";
@import "_settings.pcss";

/* -----------------------------------------------------------------------------
 *
 * New Settings CSS
 *
 * This file includes styles for the Zapier integration.
 *
 * ----------------------------------------------------------------------------- */
@import "settings/_all.pcss";
