/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin
 *
 * This file is just a clearing-house.
 * Make partials (start with an underscore) for any actual css code.
 *
 * ----------------------------------------------------------------------------- */

@import "_main.pcss";
@import "_upsell.pcss";
@import "_fields.pcss";
@import "_licensing.pcss";
@import "notices/_all.pcss";
