.tribe-field {

	.tec-admin__settings-image-field-btn-remove {
		border: none;
		color: #3c434a;
		cursor: pointer;
		padding: 0;
		text-decoration: underline;
	}

	.tec-admin__settings-image-field-image-container {
		height: 120px;
		position: relative;

		img {
			height: auto;
			max-height: 100%;
			width: auto;
		}
	}
}