/*
 * Integrations CSS
 * -------------------------------------------------------------
 * This file includes styles for the Zapier integration.
 */

.tec-settings-integrations {

	label,
	legend {
		display: block;
		font-weight: 700;
	}

	legend {
		float: none;
	}

	.tec-settings-integrations-details__container {
		background: var(--tec-color-background);
		border: 1px solid var(--tec-color-icon-secondary);
		list-style-type: none;
		margin: 0 0 var(--tec-spacer-2);
		padding: var(--tec-spacer-3);
		width: 100%;
	}

	.tec-settings-integrations-details__row {
		align-items: center;
		display: flex;
		gap: 0 var(--tec-spacer-3);
	}

	.tec-settings-details__read-only-field {

		.tec-settings-details__field-wrap.tribe-field-wrap {
			height: 32px;
			line-height: 32px;
		}
	}

	.tec-common-integrations-details-action__revoke {
		background: transparent;
		border: 0;
		color: #878787;
		float: right;
		padding: 0;

		&:hover {
			color: var(--tec-color-accent-primary-hover);
		}
	}

	.tec-settings-integrations__add-account-button .dashicons {
		margin-top: var(--tec-spacer-1);
	}
}
