/* note, the structure of this CSS is not BEM…
 * the reality is that we rarely update the App Shop and as such, we are
 * intentionally taking shortcuts here. The main goal is to have it done
 * quickly, not as a bastion of quality.
 */

body.events_page_tribe-app-shop,
body.tribe_events_page_tribe-app-shop {
	background-color: white;

	/* fixes an issue at very narrow widths */
	min-width: 350px;

	/* hide WordPress update notices on this page */
	.update-nag {
		display: none;
	}

	#wpcontent {
		padding: 0;
	}
}

#tribe-app-shop {
	color: #0f1031;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	a {
		text-decoration: none;
	}

	.content-wrapper {
		margin: 0 auto;
		max-width: 1060px;
		width: 360px;

		@media screen and (min-width: 710px) {
			width: 710px;
		}

		@media screen and (min-width: 1217px) {
			width: 100%;
		}
	}

	.tribe-events-admin-graphic {
		height: 40px;
		top: 0;

		@media screen and (min-width: 710px) {
			height: 131px;
		}
	}

	.tribe-conditional-content-wrap ~ .tribe-content .tribe-events-admin-graphic {
		display: none;
	}

	.tribe-header {
		margin: 36px auto 0 auto;
		position: relative;
		text-align: center;
		width: 100%;

		@media screen and (min-width: 710px) {
			border-bottom: 1px solid rgba(225, 225, 228, 0.5);
			margin-top: 44px;

			.logo-word-mark {
				text-align: left;
			}
		}

		.content-wrapper {
			width: 100%;

			@media screen and (min-width: 710px) {
				width: 710px;
			}

			@media screen and (min-width: 1217px) {
				width: 100%;
			}
		}

		h1 {
			display: inline-block;
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
			margin-right: 12px;
			vertical-align: middle;

			span {
				font-weight: 700;
			}
		}

		img {
			display: inline-block;
			height: 57px;
			margin: 0 0 32px 22px;
			vertical-align: middle;

			@media screen and (min-width: 710px) {
				height: 65px;
				margin-bottom: 42px;
			}
		}
	}

	.tribe-content {
		padding-top: 28px;

		@media screen and (min-width: 710px) {
			padding-top: 54px;
		}
	}

	.addon-grid {

		& > p {
			font-size: 18px;
			font-weight: 400;
			line-height: 28px;
			margin: 0 0 40px 0;
			padding: 0 20px;
			text-align: center;
		}

		h2 {
			font-size: 34px;
			font-weight: 500;
			line-height: 42px;
			margin: 0 0 13px 0;
			text-align: center;

			&.already-installed {
				margin-bottom: 40px;
			}
		}

		.tribe-addon {
			padding: 28px;
			width: calc(100% - 40px);

			@media screen and (min-width: 710px) {
				width: 310px;
			}

			.headline {
				height: 40px;
				margin-bottom: 12px;

				img {
					height: 40px;
					margin-right: 8px;

					&[src*="automator"] {
						height: auto;
						max-width: 40px;
					}
				}

				a {
					display: table-cell;
				}

				h3 {
					display: table;
					float: left;
					font-size: 15px;
					font-weight: 700;
					height: 36px;
					line-height: 18px;

					&.has-pill {

						/* this really should be updated to work better for translated strings */
						max-width: 140px;
					}
				}
			}

			.description {
				display: table;

				/* an attempt at flexibility for 2-lines */
				min-height: 48px;

				p {
					display: table-cell;
					font-size: 15px;
					font-weight: 500;
					line-height: 24px;
					margin: 0;
				}
			}

			.features {
				margin-bottom: 16px;

				/* attempting to get more height consistency */
				min-height: 158px;

				li {
					color: #0f1031;
					font-size: 15px;
					font-weight: 400;
					line-height: 24px;
					margin-bottom: 4px;

					.check {
						padding-right: 12px;
					}

					.feature-text {
						max-width: 224px;
						vertical-align: top;
					}

					span {
						display: inline-block;
					}

					svg {
						color: #3d54ff;
						height: 12px;
						width: 16px;
					}
				}
			}
		}

		.tribe-addon {
			background-color: #fff;
			border: 1px solid #e1e1e4;
			border-radius: 16px;
			box-sizing: border-box;
			display: inline-block;
			margin: 0 20px 40px 20px;
			position: relative;
			vertical-align: top;

			.headline {

				img {
					float: left;
				}

				a {
					color: #0f1031;
					vertical-align: middle;
				}

				h3 {
					margin: 0;
				}

				.pill {
					border-radius: 100px;
					display: inline-block;
					float: right;
					font-size: 10px;
					font-weight: 700;
					letter-spacing: 1px;
					line-height: 12px;
					margin-top: 8px;
					padding: 5px 0;
					text-align: center;
					text-transform: uppercase;
					width: 62px;

					&.free {
						background: rgba(80, 176, 120, 0.28);
						color: #007363;
					}

					&.active {
						background: rgba(61, 84, 255, 0.16);
						color: #3d54ff;
					}
				}
			}

			.promo-image img {
				width: 255px;
			}

			p {
				color: #0f1031;
				text-align: left;
			}
		}

		.button {
			background: #3d54ff;
			border: none; /* overrides WordPress button styles */
			border-radius: 100px;
			box-shadow: none; /* overrides WordPress button styles */
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			height: auto; /* overrides WordPress button styles */
			letter-spacing: 1px;
			line-height: 20px;
			margin-bottom: 13px;
			padding: 18px 0;
			text-align: center;
			width: 255px;

			&:hover {
				background: #1c39bb;
			}

			&.secondary {
				background: #fff;
				border: 1px solid #0f1031;
				color: #0f1031;
				display: block;
				margin: auto;

				&:hover {
					background: #3d54ff;
					color: #fff;
				}
			}
		}
	}
}
