/* -------------------------------------------------------------------------
 *
 * Twenty Nineteen Skeleton Theme Overrides
 *
 * ------------------------------------------------------------------------- */

/* Utilities */
@import "utilities/_all.pcss";

.tribe-common {

	/* -------------------------------------------------------------------------
	 * : : : : :  Reset Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * : : : : :  Base Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------
	 * Form Control: Checkboxes
	 * ------------------------------------------- */

	.tribe-theme-twentytwentyone & {

		.tribe-common-form-control-checkbox__input:checked:after {
			border: none;
		}
	}

	/* -------------------------------------------
	 * Form Control: Radios
	 * ------------------------------------------- */

	.tribe-theme-twentytwentyone & {

		.tribe-common-form-control-radio__input:checked:after {
			background-color: transparent;
		}
	}

	/* -------------------------------------------------------------------------
	 * : : : : :  Components Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

}
