/* -------------------------------------------------------------------------
 *
 * Divi Skeleton Theme Overrides
 *
 * ------------------------------------------------------------------------- */

/* Utilities */
@import "utilities/_all.pcss";

.tribe-common {

	/* -------------------------------------------------------------------------
	 * : : : : :  Reset Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	.tribe-theme-divi .entry-content &,
	body.et-pb-preview.tribe-theme-divi #main-content .container & {

		table {
			border: 0;
			margin: 0;
		}

		td {
			border: 0;
		}
	}

	.tribe-theme-divi #content-area & {

		td,
		th,
		tr {
			padding: 0;
		}
	}

	.tribe-theme-divi #left-area & ul {
		padding: 0;
	}

	/* -------------------------------------------------------------------------
	 * : : : : :  Base Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------
	 * Typography: Lists
	 * ------------------------------------------- */

	.tribe-theme-divi #left-area & ul,
	.tribe-theme-divi .entry-content & ul,
	body.et-pb-preview.tribe-theme-divi #main-content .container & ul {
		list-style-type: none;
		padding: 0;
	}

	/* -------------------------------------------------------------------------
	 * : : : : :  Components Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

}
