/* -------------------------------------------------------------------------
 *
 * Genesis Skeleton Theme Overrides
 *
 * ------------------------------------------------------------------------- */

/* Utilities */
@import "utilities/_all.pcss";

.tribe-common {

	/* -------------------------------------------------------------------------
	 * : : : : :  Reset Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	.tribe-theme-genesis &,
	.entry-content & {

		ol,
		ul {
			margin: 0;
			padding: 0;
		}
	}

	/* -------------------------------------------------------------------------
	 * : : : : :  Base Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------
	 * Typography: Lists
	 * ------------------------------------------- */

	.entry-content & {

		ul > li,
		ol > li {
			list-style-type: none;
		}
	}

	/* -------------------------------------------------------------------------
	 * : : : : :  Components Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

}
