/* -------------------------------------------------------------------------
 *
 * Twenty Twenty Skeleton Theme Overrides
 *
 * ------------------------------------------------------------------------- */

/* Utilities */
@import "utilities/_all.pcss";

.tribe-common {

	/* -------------------------------------------------------------------------
	 * : : : : :  Reset Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * : : : : :  Base Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------
	 * Form Control: Checkboxes
	 * ------------------------------------------- */

	.tribe-theme-twentytwenty & {

		.tribe-common-form-control-checkbox__input {
			top: 0;
		}
	}

	/* -------------------------------------------------------------------------
	 * : : : : :  Components Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

}
