/* -------------------------------------------------------------------------
 *
 * Twenty Nineteen Full Theme Overrides
 *
 * ------------------------------------------------------------------------- */

/* Utilities */
@import "utilities/_all.pcss";

.tribe-common {

	/* -------------------------------------------------------------------------
	 * : : : : :  Reset Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentynineteen & {

		h1,
		h2 {

			&:before {
				content: none;
			}
		}

		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			outline: none;
		}

		th,
		td {
			word-break: normal;
		}
	}

	/* -------------------------------------------------------------------------
	 * : : : : :  Base Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------
	 * Typography: Anchor
	 * ------------------------------------------- */

	.tribe-theme-twentynineteen &,
	.tribe-theme-twentynineteen .entry & {

		a {
			text-decoration: none;
		}
	}

	/* -------------------------------------------------------------------------
	 * : : : : :  Components Theme Overrides  : : : : :
	 * ------------------------------------------------------------------------- */

}
