/* Dependency CSS */
.tribe-dependent {
	display: none;

	&.tribe-active {
		display: inline-block;
	}
}

div.tribe-dependent.tribe-active {
	display: block;
}
td.tribe-dependent.tribe-active {
	display: table-cell;
}
tr.tribe-dependent.tribe-active {
	display: table-row;
}
