/* Dependency CSS */
.tribe-dependent {
	display: none;

	&.tribe-active {
		display: inline-block;

		div&,
		p&,
		h1&,
		h2&,
		h3&,
		h4&,
		h5&,
		h6& {
			display: block;

			&.select2-container {
				display: inline-block;
			}
		}

		td& {
			display: table-cell;
		}

		tr& {
			display: table-row;
		}
	}
}
