/*
 * Tribe Common Admin
 * -------------------------------------------------------------
 * This file includes styles for the Admin area for all plugins.
 */

@import "utilities/_variables-full.pcss";
@import "utilities/_all.pcss";
@import "components/full/_all.pcss";
@import "tribe-common-admin/_all.pcss";
