/*
 * Tribe Common Admin
 * -------------------------------------------------------------
 * This file includes styles for the Admin area for all plugins.
 */

/* Utilities */
@import "utilities/_all.pcss";

/* Base */
@import "base/skeleton/_all.pcss";
@import "base/full/_all.pcss";

/* A11y */
@import "a11y/_all.pcss";

/* Admin */
@import "tribe-common-admin/_all.pcss";
