/*
 * Tribe Common Admin
 * -------------------------------------------------------------
 * This file includes styles for the Admin area for all plugins.
 */

@import "tribe-common-admin/_all.pcss";
