/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin - Marketing Notices
 *
 * This file is just a clearing-house.
 * Make partials (start with an underscore) for any actual css code.
 *
 * ----------------------------------------------------------------------------- */

@import "_black-friday.pcss";
@import "_copy-to-clipboard.pcss";
