.tec-copy-to-clipboard-notice {
	position:relative;

	.tec-copy-to-clipboard-notice-content {
		background: #c4d5f6;
		border: 1px solid #ccc;
		border-radius: 8px;
		bottom: 0;
		box-shadow: 5px 5px 5px #888;
		display:none;
		left: 80px;
		padding: 8px;
		position: absolute;
		transition: bottom 300ms ease-in-out;
	}
}
