/* .tribe-common {
	/* -------------------------------------------------------------------------
	 *
	 * Body
	 *
	 * Example:
	 * <p class="tribe-common-b1">Text here</p>
	 *
	 * ------------------------------------------------------------------------- */

/* } */
