/* .tribe-common {
	/* -------------------------------------------------------------------------
	 *
	 * Heading
	 *
	 * Example:
	 * <h1 class="tribe-common-h1">Heading Text</h1>
	 *
	 * ------------------------------------------------------------------------- */

/* } */
