.tribe-common {
	/* -------------------------------------------------------------------------
	 * Lists
	 * ------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 *
	 * Lists: Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Genesis
	 * ------------------------------------------------------------------------- */

	.entry-content & {

		ul > li,
		ol > li {
			list-style-type: none;
		}
	}
}
