/* -----------------------------------------------------------------------------
 *
 * Tribe Common Admin Baseline Styling
 *
 * This file is just a clearing-house.
 * Make partials (start with an underscore) for any actual css code.
 *
 * ----------------------------------------------------------------------------- */

@import "_main.pcss";
@import "_header.pcss";
@import "_content.pcss";
@import "_content-section.pcss";
@import "_sidebar.pcss";
