#tec-admin__content {
	background: none;
	column-gap: var(--tec-spacer-7);
	display: flex;
	flex-flow: column nowrap;
	grid-area: content;
	margin: var(--tec-spacer-1) var(--tec-spacer-7) 0;
	row-gap: var(--tec-spacer-7);

	@media (--viewport-wpadmin) {
		margin: var(--tec-spacer-4) var(--tec-spacer-7) var(--tec-spacer-7);
		row-gap: var(--tec-spacer-4);
	}
}
