.tec-events-onboarding__form-field .components-text-control__input.invalid {
	border-color: var(--tec-color-icon-error);
	color: var(--tec-color-icon-error);
	font-weight: var(--tec-font-weight-bold);

	&:focus {
		border-color: var(--tec-color-icon-error);
		box-shadow: 0 0 0 0.5px var(--tec-color-icon-error);
		outline: 2px solid var(--tec-color-icon-error);
	}
}
