:root {
	--tec-color-wp-error: #d63638;
}

.tec-events-onboarding__required-label,
.tec-events-onboarding__invalid-label {
	color: var(--tec-color-wp-error);
	display: none;
	font-size: var(--tec-font-size-1);
	font-weight: var(--tec-font-weight-bold);
	margin-top: var(--tec-spacer-1);
}

.tec-events-onboarding__form-field.invalid .components-text-control__input {
	border-color: var(--tec-color-wp-error);
	color: var(--tec-color-wp-error);
	font-weight: var(--tec-font-weight-bold);

	&:focus {
		border-color: var(--tec-color-wp-error);
		box-shadow: 0 0 0 0.5px var(--tec-color-wp-error);
		outline: 2px solid var(--tec-color-wp-error);
	}

	+ .tec-events-onboarding__invalid-label {
		display: inline-block;
	}
}

.tec-events-onboarding__form-field.empty .components-text-control__input,
.tec-events-onboarding__form-field.empty.invalid .components-text-control__input {
	+ .tec-events-onboarding__required-label {
		display: inline-block;
	}

	+ .tec-events-onboarding__invalid-label {
		display: none;
	}
}
