
.complete,
.ok,
.yes,
.on,
[data-status="complete"],
[data-status="ok"],
[data-status="yes"],
[data-status="on"] {
	color: #0ab152;
}

.incomplete,
.ko,
.no,
.off,
[data-status="incomplete"],
[data-status="ko"],
[data-status="no"],
[data-status="off"] {
	color: #ff2500;
}