#top.tribe-theme-enfold .tribe-common,
#top .main_color .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Enfold
	 * ------------------------------------------------------------------------- */

	button[disabled] {
		cursor: default;
	}

	form,
	input {
		margin: 0;
	}
}
