.tribe-theme-genesis .tribe-common,
.entry-content .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Genesis
	 * ------------------------------------------------------------------------- */

	ol,
	ul {
		margin: 0;
		padding: 0;
	}
}
