/* .tribe-theme-twentytwentyone.tribe-common { */

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Twenty Twenty One
	 * ------------------------------------------------------------------------- */

/* } */
