.tribe-theme-twentytwentyone {

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Twenty Twenty-One
	 * ------------------------------------------------------------------------- */

	 /* Allow our shortcodes to be full width. */
	.entry-content & {
		max-width: 100% !important;
	}
}
