/* .tribe-theme-twentytwenty .tribe-common { */

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Twenty Twenty
	 * ------------------------------------------------------------------------- */

/* } */
