.tribe-theme-twentyseventeen .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	/* dialogs are set to z-index of 1 by default. Twentyseventeen .site-branding (in page header) is set to 3. */
	div.tribe-dialog {
		z-index: 5 !important;
	}

}
