.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Component: SVGIcon
	 *
	 * Example:
	 * <?php $this->template('components/icons/[name]') ?>
	 *
	 * ----------------------------------------------------------------------------- */
	 
	.tribe-common-c-svgicon--featured {
		path {
			fill: var(--color-accent-primary);
		}
	}
	
	.tribe-common-c-svgicon--recurring {
		path {
			fill: var(--color-icon-active);
			stroke: var(--color-icon-active);
		}
	}
	
	.tribe-common-c-svgicon--messages-not-found {
		
		.tribe-common-c-svgicon__svg-stroke {
			stroke: var(--color-accent-primary);
		}
	}
}