.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Component: SVGIcon
	 *
	 * Example:
	 * <?php $this->template('components/icons/[name]') ?>
	 *
	 * ----------------------------------------------------------------------------- */
	 
	.tribe-common-c-svgicon--featured {
		path {
			fill: var(--color-accent-primary);
		}
	}
}