.tribe-common {

	a {
		cursor: pointer;
	}

	/* -------------------------------------------------------------------------
	 * CTA
	 * ------------------------------------------------------------------------- */

	.tribe-common-cta {
		@mixin desktop-body-3-bold;
		@mixin anchor-default;
	}

	.tribe-common-cta--alt {
		@mixin anchor-alt;
	}
}
