.tribe-events {
	/* -------------------------------------------------------------------------
	 * CTA
	 * ------------------------------------------------------------------------- */

	.tribe-common-cta {
		@mixin desktop-body-3-bold;

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}
