.tribe-common {
	/* -------------------------------------------------------------------------
	 * Lists
	 * ------------------------------------------------------------------------- */

	#left-area & ul,
	.entry-content & ul,
	body.et-pb-preview #main-content .container & ul {
		list-style-type: none;
		padding: 0;
	}
}
